* {
  font-family: "Josefin Sans", sans-serif;
}

body {
  background: url(./assets/bg-intro-mobile.png);
  background-position: top, left -12rem bottom 15rem;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: #191826;
}

.section-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  text-align: center;
  font-size: 30px;
  color: #191826;
}

h1 .bi {
  color: #fa7453;
}

.btn-refresh {
  padding: 13px 20px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background: #fa7453;
  font-size: 15px;
}

main {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
}

table {
  font-size: 18px;
  border-collapse: collapse;
  background-color: #fff;
  width: 90vw;
  height: fit-content;
}

th,
td {
  padding: 10px 15px;
  text-align: left;
  color: #fff;
}

th {
  background-color: #191826;
  color: #fa7453;
}

th:nth-of-type(1) {
  border-radius: 16px 0 0 0;
}

th:nth-of-type(2) {
  border-radius: 0 16px 0 0;
}

tr:nth-of-type(even) {
  background-color: #191826;
}

tbody tr:nth-of-type(odd) td {
  color: #191819;
  background-color: #fa745336;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 16px !important;
}

table tr:last-child td:last-child {
  border-radius: 0 0 16px 0 !important;
}

#add-score {
  width: 80vw;
  background-color: #191826;
  border-radius: 13px;
  padding: 60px 20px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.fieldset {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.fieldset input {
  width: 80%;
  padding: 16px;
  border: 1px solid hsl(246, 25%, 77%);
  border-radius: 5px;
  outline: 0;
}

.alert {
  font-size: 13px;
  padding: 13px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.alert.success {
  background-color: #7dd2c5;
}

.alert.invalid {
  background-color: rgb(220, 55, 55);
  color: #fff;
}

.btn-add-score {
  width: 85%;
  font-size: 18px;
  color: #fff;
  background: #fa7453;
  padding: 16px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

@media (min-width: 820px) {
  body {
    background: url(./assets/bg-intro-desktop.png), url(./assets/bg-top.svg);
    background-position: top, left -8rem top;
    background-repeat: no-repeat;
  }

  main {
    flex-direction: row-reverse;
    margin-top: 100px;
    align-items: flex-start;
  }

  #add-score {
    width: 30vw;
  }

  table {
    width: 35vw;
  }
}
